*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}
.wrapper {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #2c183d;
  color: white;
}
[class*="__container"] {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

/* =========== header ==============*/

.header {
  background-color: #170e1f;
}
.header__logo {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: 800;
}
.header__container {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
}
.menu__list {
  display: flex;
  gap: 15px;
}
.menu__item {
  list-style: none;
}
.item__ref {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  color: white;
}
.header__contacts {
}
.contacts__item {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  color: white;
  gap: 10px;
}
.contacts__img {
}

.main {
  flex: 1 1 auto;
}

/* ========================main-description================= */

.description__container {
  display: flex;
  padding: 110px 0;
}
.description__main-block {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description__title {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 55px;
}
.description__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  padding-left: 15px;
}
.description__list {
  list-style: circle;
  padding-left: 40px;
}
.description__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;

  color: rgb(250, 200, 229);
}
.description__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.description__button-wallet {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 255px;
  width: 100%;

  padding: 14px 0;
  background-color: #f12fba;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: white;
}
.description__button-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 255px;
  width: 100%;

  padding: 14px 0;

  background-color: rgb(241, 47, 186);
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: white;
}
.description__img {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==============================advantages================== */

.main__advantages {
  padding-bottom: 60px;
}
.advantages__container {
  padding: 20px 60px;
  border: 5px solid #372745;
  border-radius: 15px;
}
.advantages__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 62px;
}
.advantages__enumeration {
  display: flex;
  padding: 15px 0 45px 0;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
}
.enumeration__box {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.enumeration__img {
}
.enumeration__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

/*=============================promopersonal======================= */

.main__promopersonal {
  padding-bottom: 80px;
}
.promopersonal__container {
}
.promopersona__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 62px;
}
.promopersonal__block {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.promopersonal__section-choice {
  display: flex;
  gap: 35px;
  justify-content: center;
}
.section-choice__box {
  width: 200px;
  height: 265px;

  border-radius: 15px;

  background-image: url("../image/promo/promo.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;

  border: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  position: relative;
}
.section-choice__box:hover {
  opacity: 0.6;
}
.section-choice__item {
  text-align: center;

  height: 60px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
  background-color: #2c183d;
  opacity: 0.8;
}
.item__title-section-choice {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  position: absolute;
  z-index: 1;
  left: 6px;
  bottom: 10px;
  text-align: center;
  /* opacity: 1; */
}
.item__button-section-choice {
  display: none;
}

/* ================================ table ============================================ */

.table-advantages__table {
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
  /* border: 1px dashed black; */
  /* схлопывание границы */
  border-collapse: collapse;
  /* выравнивает и делает одинаковыми ячейки границ */
  table-layout: fixed;
}
.table__th {
  border: 1px solid white;
  padding: 22px 15px;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffcfec;
}

.table__td {
  border: 1px solid white;
  text-align: center;
  padding: 22px 15px;
}

.table__tr:nth-child(even) {
  background-color: #3f314d;
}
.table__tr:nth-child(odd) {
  background-color: #2a1f33;
}
.table__td:first-child {
  text-align: left;

  width: 600px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: white;
}
.table__th:first-child {
  text-align: left;
}

/* ========================================= cases ============================================= */
.main__our-cases {
}
.our-cases__container {
}
.our-cases__description-block {
  padding: 60px 100px;
}
.description-block__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 62px;
}
.description-block__description {
  text-align: center;
  font-size: 12px;
}
.our-cases__example-project {
  background-color: #332243;
  border: 1 px solid white;
  border-radius: 20px;
  padding: 50px;
}
.example-project__slider {
}
.example-project__vignette {
  display: flex;
}
.vignette__slider-image {
  border-radius: 10px;
  padding: 0 240px;
  border: 2px solid black;
  position: relative;
}
.slider-image {
  position: absolute;
}
.vignette__description {
  padding: 40px;
}
.description__vignette-title {
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 62px;
  padding: 20px 0;
}
.description__vignette-text {
}
.example-project__full-description {
  display: flex;
  padding: 40px 0;
}
.full-description__parts {
  padding: 0px 10px 0px 0px;
}
.full-description_decision {
  /* border: 2px solid #2c183d; */
  padding: 22px;
}
.full-description_result {
  border: 2px dashed #200f2e;
  border-radius: 10px;
  padding: 20px;
}

/* ================================== stage-work ================================= */
.main__stage-work {
}
.stage-work__container {
}
.stage-work__title {
  padding: 60px 0px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 62px;
}
.stage-work__stages-blocks {
  padding: 40px;
  border: 5px solid #372745;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #332243;
}
.stages-blocks__stage {
  text-align: center;
  padding: 0px 30px;
}
.stahe__img {
}
.stage__title {
  padding: 10px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.stages-blocks__arrow-img {
  padding: 0px 5px;
}
/* =================================contacts============================== */

.main__our-contacts {
}
.our-contacts__container {
}
.our-contacts__title {
  padding: 60px 0px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 62px;
}
.our-contacts__contacts-blocks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contacts-blocks__contacts {
}
.contacts__item {
}
.contacts__img {
}
.contacts-blocks__form {
  padding: 30px;
  border: 2px solid white;
  border-radius: 10px;
}
.form {
  text-align: center;
}
.form__title {
  margin: 20px 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}
.form__text input {
  border-radius: 15px;
  width: 300px;
  height: 30px;
  margin: 10px 0px;
  color: #666666;
  padding: 10px;
}

.form__buttom input {
  color: white;
  background-color: #f12fba;
  padding: 10px 80px;
  border-radius: 15px;
  margin-top: 10px;
}
/* =======================footer========================== */
.footer {
  padding: 30px 0px;
  background-color: #2F1D3D;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.footer__reserved {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
